# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
* popular languages
* libraries commonly used
* examples

Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. Julia
4. SQL

Some of the commonly used libraries used by Data Scientists include:

1. Python: Pandas,NumPy,matplotlib
2. R: ggplot2,dplyr,readr
3. Julia: DataFrames.jl,Plots.jl

|Data Science Tools |
|--|
|PyCharm|
|Jupyter Notebook|
|RStudio|
|VSCode|

### Below are a few examples of evaluating arithmetic expressions in Python

In [3]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [8]:
# This will convert 200 minutes to hours by diving by 60
minutes = 200
minutes_in_hour = 60
hours = minutes // minutes_in_hour
minutes_calculated = minutes % minutes_in_hour 
print(f'{hours} hours and {minutes_calculated} minutes')

3 hours and 20 minutes

## Author:
T Georgiev